.inventory {
    position: absolute;
    top: 1vh;
    right: 1vw;
    font-size: 400%;
    font-family: monospace;
}
.buttons {
    position: absolute;
    bottom: 3vw;
    left: 3vw;
}
.button {
    padding: 1vw;
    border-radius: 1vw;
}
.button__icon {
    width: max(5vh, 5vw);
    height: max(5vh, 5vw);
}
.button.active {
    background-color: silver;
}
.canvas {
    position: absolute;
    display: flex;
    padding: 10vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#main_img {
    width: 100%;
    height: 100%;
}
.caption {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 2vw;
    padding: 1vw 20%;
    line-height: 2.5;
    text-shadow: 2px 2px 2px white,
                -2px -2px 2px white,
                -2px 2px 2px white,
                 2px -2px 2px white;
    text-align: center;
}
#caption {
    background-color: white;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
}
#choices > .choice {
    font-size: 2vw;
    padding: 1vw 2vw;
    margin: 1vw;
    border-radius: 1vw;
}

.hidden {
    display: none;
}
#confetti_center {
    position: absolute;
    left: 49%;
    top: 49%;
    width: 2%;
    height: 2%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    background-image: url(location_images/background.jpg);
    background-color: #DFDBE5;
}
